@font-face {
  font-family: standard;
  src: url(font.otf);
}

@font-face {
  font-family: clock;
  src: url(clock.ttf);
}

html {
  background-color: #102010;
}

body {
  color: #50a050;
  font-family: "standard";
  width: 100%;
  padding: 0.5vw;
  position: fixed;
  z-index: 2;
}

p {
  font-size: 1rem
}

#header {
  font-size: 3rem;
  font-weight: bold;
  padding: 3%;
  border-bottom: 0.25em double;
  text-align: center;
}

#bit {
  font-size: 4rem;
  font-family: clock;
  font-weight: bold;
}

#bits {
  text-align: center;
  font-size: 1.5em;
}

#addbit {
  text-align: center;
  border: 0.25vw solid;
  padding: 2% 2%;
  margin: 5%;
}

.space {
  margin-top: 6%;
}

.noSelect {
  user-select: none;
}

.price {
  font-family: clock;
  font-size: 1.5rem;
}

.price:hover {
  border-bottom: 0.1em solid
}

#filedownload {
  width: 25em;
  margin: 3vw;
  float: left;
}

#upgradepc {
  width: 25em;
  margin: 3vw;
  float: left;
}
